.rockets {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rocket-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rocket {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.rocket-info {
  display: flex;
  flex-direction: column;
}

.rocket-img {
  width: 80%;
  height: auto;
}

.rocket-name {
  font-weight: 700;
}

.rocket-description {
  font-size: 16px;
}

.reserved {
  width: min-content;
  height: min-content;
  padding: 1px 4px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgb(86, 201, 185);
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .rocket {
    flex-wrap: nowrap;
  }

  .rocket-img {
    width: 30%;
  }
}
