.dragonContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

.dragonImgContainer {
  flex-basis: 25%;
}

.dragonInfo {
  flex-basis: 75%;
}

.dragonImg {
  width: 100%;
}

.dragonReservedBadge {
  padding: 4px 8px;
  background-color: #18a2b8;
  border-radius: 6px;
  color: white;
}

.regularBtn {
  background-color: #007bff;
  padding: 10px 10px;
  border-radius: 4px;
  color: #fff;
  border: none;
}

.reservedBtn {
  background-color: #fff;
  color: #a6abaf;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #c4c7ca;
}
