@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

#missions-section {
  margin: 30px;
}

table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 12px;
}

th {
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mission-name {
  font-weight: bold;
  font-size: 15px;
}

.status,
.join-mission {
  width: 130px;
  text-align: center;
}

.status span {
  background-color: #6d757d;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.join-btn {
  cursor: pointer;
  background-color: transparent;
  color: #343a40;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  border-color: #343a40;
  border-radius: 4px;
  padding: 8px;
}
