#missions-section {
  margin: 30px;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 12px;
}

th {
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mission-name {
  font-weight: bold;
  font-size: 16px;
}

.status,
.join-mission {
  width: 150px;
  text-align: center;
}

.status span {
  background-color: #6d757d;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
}

.join-btn {
  background-color: transparent;
  padding: 6px;
  border-color: #6d757d;
  color: #6d757d;
  border-radius: 4px;
}
