.navBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo-container {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.navUl {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
}

.navUl > li {
  height: auto;
  margin: 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.9px;
}

.nav-link {
  text-decoration: none;
  color: #2088ff;
}

.nav-link.active {
  text-decoration: underline;
  color: #0056b4;
}

.navUl > li:last-of-type {
  border-left: 2px solid #000;
  padding-left: 20px;
  margin-left: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 678px) {
  .navBar {
    gap: 0%;
    flex-direction: column;
    padding: 5% 8%;
    min-width: 100%;
  }

  .navBar > * {
    justify-content: center;
  }
}
