.navBar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: center;
  box-sizing: border-box;
  gap: 2.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e8e8e8;
}

h1 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.navUl {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-self: center;
  flex-wrap: wrap;
}

.navUl > li {
  width: 3.688rem;
  height: auto;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.navUl > li > span {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 #0000000c;
  background-color: #fafafa;
}

@media screen and (max-width: 678px) {
  .navBar {
    gap: 0%;
    flex-direction: column;
    padding: 5% 8%;
    min-width: 100%;
  }

  .navBar > * {
    justify-content: center;
  }
}
